

.pages .ivu-input {
	width: 130px;
    height: 35px;
    line-height: 25px;
    border-radius: 0;
}
.pages .ivu-input:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #e6e6e6;
}
.pages .ivu-input:hover {
    border: 1px solid #e6e6e6;
}
.help .ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title {
	width: 263px;
	position: relative;
    z-index: 999!important;
    background: #fff;
}
.help .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
	color: #e60012;
	border-right: 2px solid #e60012;
}
.help .ivu-menu-submenu {
	width: 263px;
}
.help .ivu-menu {
	width: 263px;
}
.renting .ivu-input {
	width: 115px;
	height: 21px;
	border-radius: 0;
}
.renting .ivu-input-icon {
	height: 21px;
	line-height: 21px;
}
.renting .ivu-input:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #e6e6e6;
}
.renting .ivu-input:hover {
    border: 1px solid #e6e6e6;
}
.reg .ivu-radio-checked .ivu-radio-inner {
	border-color: #e60012;
}
.reg .ivu-radio-inner:after {
	background: #e60012;
}
.reg .ivu-radio-group-vertical .ivu-radio-wrapper {
	display: inline-block;
}
.reg .ivu-radio {
	margin-bottom: 8px;
}
.regs .ivu-radio {
	margin-bottom: 0;
}
.order-navs .ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner {
	border-color: #e60012;
}
.order-navs .ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner span, .ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner>.ivu-steps-icon {
	color: #e60012;
}
.order-navs .ivu-steps-item.ivu-steps-status-finish .ivu-steps-tail>i:after {
	height: 2px;
	background: #e60012;
}
.order-navs .ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner {
    border-color: #e60012;
    background-color: #e60012;
}
.order-navs .ivu-steps.ivu-steps-small .ivu-steps-content {
	text-align: center;
	color: #000;
	position: relative;
	left: -60px;
	top: 10px;
}
.sett .ivu-radio-group-vertical .ivu-radio-wrapper {
	margin-bottom: 5px;
}
.sett .ivu-radio-group-vertical .ivu-radio-wrapper:last-child {
	margin-bottom: 0;
}
.sett .ivu-radio-checked .ivu-radio-inner {
	border-color: #ccc;
}
.sett .ivu-radio-inner:after {
	background-color: #999;
}
.sett .ivu-input {
	width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    border: 1px solid #000;
}
.sett .ivu-input:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #000;
}
.sett .ivu-input:hover {
    border: 1px solid #000;
}
.sett .ivu-radio {
	position: absolute;
	top: 9px;
	left: 90px;
	z-index: 1;
	display: none;
}

.list .ivu-menu-submenu {
	color: #d6d6d6;
	font-size: 16px;
	background: #14B1C4!important;
}
.list .ivu-menu-submenu-title:hover {
	color: #fff!important;
	background: #43C1D0!important;
}
.list .ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title {
	padding: 14px 62px 14px 75px!important;
}
.list .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
	color: #fff;
    border-right: 2px solid #14B1C4;
    z-index: 2;
}
.list .ivu-menu {
	width: 260px!important;
	color: #d6d6d6;
	background: #0e8e9e;
}
.list .ivu-menu-item:hover {
	background: #3CA2B0!important;
}
.hear .demo-badge-alone{
    background: #5cb85c;
}
.memtimes .ivu-page-item {
	width: 20px;
	height: 20px;
	min-width: 20px;
	line-height: 20px;
	margin-right: 0px;
}
.memtimes .ivu-page-prev{
	width: 20px;
	height: 20px;
	min-width: 20px;
	line-height: 20px;
	margin-right: 2px;
	margin-left: 18px;
}
.memtimes .ivu-page-next{
	width: 20px;
	height: 20px;
	min-width: 20px;
	line-height: 20px;
	margin-left: 2px;
	margin-right: 18/px;
}
.memtimes .ivu-page-item-jump-next {
	width: 20px;
	height: 20px;
	min-width: 20px;
	line-height: 20px;
	margin-right: 0px;
}
.memtimes .ivu-page-item-jump-prev{
	width: 20px;
	height: 20px;
	min-width: 20px;
	line-height: 20px;
	margin-right: 0px;
}
.memtimes .ivu-select-arrow{
	right: 5px;
}
.memtimes .ivu-page-item-active{
	background: #e60012;
	border-color: #e60012;
}
.memtimes .ivu-page-item:hover {
	color: #000;
	border-color: #e60012;
}
.memtimes .ivu-page-item a{
	margin: 0px;
}
.memtimes .ivu-page-item-jump-prev:hover {
	border-color: #e60012;
}
.memtimes .ivu-page-item-jump-next:hover {
	border-color: #e60012;
}
.memtimes .ivu-page-item-jump-prev a:hover {
	color: #e60012;
}
.memtimes .ivu-page-item-jump-prev ,.memtimes .ivu-page-item-jump-next a {
	color: #e60012;
}
.memtimes .ivu-page-item-jump-next a:hover {
	color: #e60012;
}
.memtimes .ivu-page-next:hover {
	border-color: #e60012;
}
.memtimes .ivu-page-next:hover a {
	color: #e60012;
}
.memtimes .ivu-page-prev:hover {
	border-color: #e60012;
}
.memtimes .ivu-page-prev:hover a {
	color: #e60012;
}
.memtimes .ivu-table th {
	text-align: center;
	border-right: 0;
}
.memtimes .ivu-table-cell {
	text-align: center;
	padding: 0px;
}
.memtimes .ivu-table-border td {
	border-right: 0;
}
.eva-push .ivu-checkbox-checked .ivu-checkbox-inner {
	background: #e60012;
	border-color: #e60012;
}
.eva-push .ivu-checkbox-checked:hover .ivu-checkbox-inner {
	border-color: #e60012;
}
.body .ivu-rate-text {
	background: #fff;
	position: relative;
	z-index: 999;
}
