.layui-form {margin-top: 20px;padding-right: 20px;}
.title{font-size: 28px;margin: 20px;margin-top: 10px;display: block;}
.layui-input{border-radius: 5px;}
.layui-quote-nm{margin-left: 110px;}
.editor-item{padding-left: 25px;}
.addProductConfig{margin-bottom: 10px;}